.env
*.DS_Store
*__pycache__
.env
*.log
*.log
*.csv
*.sql
*.sql
*.log
airflow/logs/dag_processor_manager/dag_processor_manager.log
airflow/logs/scheduler/latest
data/*
dbt/jaffle_shop/target/*.*
meltano/ed2c/plugins/extractors/tap-spreadsheets-anywhere--ets.lock
dbt/jaffle_shop/target/graph.gpickle
dbt/jaffle_shop/target/catalog.json
